
a {
    margin:auto;
  text-decoration: none;
  width: 10%;
    left:50%;
  height: 21px;
  border-radius: 4px;
  padding: 6px;
  line-height: 21px;
  cursor: default;


}

a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

a.selected {
  background: blue;
  color: white;
  border: 0;
}

a.available {
  color: blue;
  border: 1px solid blue;
  border-radius: 4px;
}

a.blocked {
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
}

a.available:hover {
  color: white;
  background: blue;
}

a.blocked,
a.blocked:hover {
    background: #eaeaea;
    color: #aaa;
    box-shadow: 0;
    cursor: default;
    border: 0;
}

#submit{
    border:none;
    outline: none;
    height:40px;
    background: yellow;
    color: black;
    font-size: 18px;
}
.movieDesc{
    font-size: 20px;
    font-style: italic;
}

#timeButton{
    border:2px solid black;
    height:40px;
    background: yellow;
    color: black;
    font-size: 15px;
}

#selectTime{
    font-style: oblique;
    font-size: 20px;
}

figure {
    float: left;
    width: 20%;
    background: burlywood;
    text-align: center;
    font-style: oblique;
    font-size: large;
    text-indent: 0;
    border-style: double;
    margin: 1em;
    padding: 1em;
}


body {
    background-image: url("http://pic1.win4000.com/wallpaper/2018-09-11/5b977626c9feb.jpg");

}
