
<!doctype html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>Cash Register</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="seat.js"></script>
</head>

<body>
<div class="content" ng-app="mooApp" ng-controller="boo">
    <div class="row col-md-4 col-md-offset-3">
        <p>
            Number of tickets:
        </p>
        <select ng-model="selectedVal" ng-options="i for i in quantities"></select>
    </div>
    <div>
        <div>
            <div class="table-responsive">
                <table class="table">
                    <tbody class="table">
                    <tr ng-repeat="row in seats">
                        <span>{{rowLetter[$index]}}</span>
                        <td ng-repeat="item in row">
                            <a class="available" ng-disabled="isDisabled" ng-class="{'selected': item.Seat_Check == true,'available': item.Seat_Check == false, 'blocked': item.Seat_Available == false}" ng-click="clickSeat(item)">{{item.Seat_Column}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                {{rows | json}}
                <p>total Seats you can select = {{selectedVal}}</p>
                <p>{{rowLetter}}</p>
                <p>whether the selection of seats should be disabled or not = {{isDisabled}}</p>
                <p>Seats selected: {{selectedSeatCount}}</p>
            </div>
            <button class="confirm-button" id="confirm-button" ng-click="confirmButton()"> Add to Cart </button>
        </div>
    </div>
</div>


</body>



</html>